<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="http://fpt.edu.vn/">
            FPT University
          </a>
        </li>
        <li>
          <a href="">
            TOSMS
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Nguyễn Huy Hùng - Vũ Thị Thùy Dương
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="#" target="">Group 5</a> for a better web.
    </div>
  </div>
</footer>