<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="http://fpt.edu.vn/">
            FPT University
          </a>
        </li>
        <li>
          <a href="">
            TOSMS
          </a>
        </li>
        <li>
          <a href="https://www.creative-tim.com/license">
            Nguyễn Huy Hùng - Vũ Thị Thùy Dương
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, made with <i class="material-icons">favorite</i> by
      <a href="#" target="">Group 5</a> for a better web.
    </div>
  </div>
</footer>
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.1/firebase-firestore.js"></script>
<script>
  const firebaseConfig = {
    apiKey: "AIzaSyB7EPFR3o1xXSyye7neNRao6j68dVeVpbY",
    authDomain: "tosms-web.firebaseapp.com",
    databaseURL: "https://tosms-web.firebaseio.com",
    projectId: "tosms-web",
    storageBucket: "tosms-web.appspot.com",
    messagingSenderId: "215697346340",
    appId: "1:215697346340:web:3fd5c13f24fb2475ec2db1"
  };

  // // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

  const firestore = firebase.firestore();
  var check = 0;
  firestore.collection("manager").orderBy("createdTime", "desc").get().then(function (querySnapshot) {
    let count = 0;
    querySnapshot.docs.map((doc) => {
      let notification = doc.data();
      createNotiElement(notification);
      if (notification.readed === false) {
        count += 1;
      }
    })
    if (count > 0) {
      $('#count-number').text(count)
      $('#count-number').css('display', 'block')
    } else {
      $('#count-number').css('display', 'none')
    }
    check = count
  })


  firestore.collection("manager").orderBy("createdTime", "desc").onSnapshot(function (querySnapshot) {
    let count = 0;
    $('#list-noti').text('')
    querySnapshot.docs.map((doc) => {
      let notification = doc.data();
      createNotiElement(notification);
      if (notification.readed === false) {

        count += 1;
      }
    })
    if (count > 0) {
      $('#count-number').text(count)
      $('#count-number').css('display', 'block')
    } else {
      $('#count-number').css('display', 'none')
    }
    check = count;
  })

  let createNotiElement = (notification) => {
    $('#list-noti').append('<div class="menu-item"><a onclick="visitLink(\'' + notification.link + '\')">'
      + '<img src="' + notification.icon + '"/>'
      + '<span class="content-noti">'
      + '<p class="title">' + notification.title + '</p>'
      + '<p class="content">' + notification.body + '</p>'
      + '</span>'
      + '</a><div>')
  }

  $('.container-noti').click(() => {
    if (check > 0) {
      $.ajax({
        url: '/api/v1/notification/',
        method: 'PUT'
      })
    } 
  })

  let visitLink = (link,) => {
    window.location.href = link;
  }
</script>