<!-- Navbar -->
<style>
  .profile-link {
    cursor: pointer;
  }

  .container-noti {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer
  }

  .icon-noti {
    position: absolute;
    top: -2px
  }

  .icon-size {
    font-size: 30px !important;
  }

  .icon-number-noti {
    position: absolute;
    left: 15px;
    display: none;
    color: #ffffff;
    z-index: 1;
    border: 1px solid #ffffff;
    width: 18px;
    background-color: #e60000;
    text-align: center;
    border-radius: 10px 10px;
  }

  #container-list-noti.dropdown-menu {
    left: -400px;
    top: 0px;
    min-width: 25rem;
    padding: 0;
    margin: 0;
    height: 500px;
    position: relative;
  }

  #container-list-noti .body-list-noti {
    overflow-y: scroll;
    height: 440px;
  }

  #container-list-noti .header-list-noti {
    height: 30px;
    border-bottom: 1px solid #dddfe2;
    font-weight: bold;
  }

  #container-list-noti .see-more {
    height: 30px;
    border-top: 1px solid #dddfe2;
    color: #385898;
    padding: 5px;
  }

  #container-list-noti .see-more a {
    color: #385898;
    margin-top: 5px;
  }

  #container-list-noti .see-more a:hover {
    color: #385898;
    background-color: unset;
    box-shadow: unset;
    cursor: pointer;
    text-decoration: underline solid #385898;
    ;

  }

  .menu-item {
    overflow: hidden;
    border-bottom: 1px solid #dddfe2;
    padding: 10px 5px;
  }

  .menu-item .card {
    width: 60px;
    height: 40px;
    overflow: hidden;
    border-radius: 0;
    margin: 0;
  }

  .menu-item .card.text-noti-content {
    width: 100%;
    overflow: hidden;
    height: auto;
    color: gray
  }

  .menu-item .card.card-body {
    padding: 0;
  }

  .menu-item img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .title {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  .content {
    font-size: 11px;
    color: black;
  }

  .card.text-noti-content .card-body {
    padding: 0.2rem 20px;
  }

  .card.text-noti-content .card-title {
    color: #385898;
  }

  #list-noti .row {
    margin: 0;
  }

  #list-noti::-webkit-scrollbar {
    width: 8px;
    background-color: #ffffff;
  }

  #list-noti::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  #list-noti::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(156, 151, 151, 0.3);
    background-color: #ffffff;
  }

  #loading-noti {
    display: none;
    z-index: 1000;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('/images/Preloader_21.gif') 50% 50% no-repeat;
  }

  /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
  #container-list-noti #loading-noti.loading {
    overflow: hidden;
  }

  /* Anytime the body has the loading class, our
   modal element will be visible */
  #container-list-noti #loading-noti.loading {
    display: block;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <!-- <div class="navbar-wrapper">
        <a class="navbar-brand" href="#pablo">Dashboard</a>
      </div> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="container-noti" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-icons icon-noti icon-size">
          notifications
        </span>
        <span id="count-number" class="icon-number-noti">
        </span>
        <div id="container-list-noti" class="dropdown-menu dropdown-menu-right">
          <div class="header-list-noti text-center">
            <h5>Thông Báo</h5>
          </div>
          <div class="body-list-noti" id="list-noti">
          </div>
          <div id="loading-noti"></div>
          <div class="see-more text-center"><a onclick="visitLink('/notification')">Xem Thêm</a></div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-lin" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons icon-size">person</i>
            <p class="d-lg-none d-md-block">
              Account
            </p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <a class="dropdown-item profile-link role_worker" style="display: none">Hồ Sơ</a>
            <div class="dropdown-divider role_worker" style="display: none"></div>
            <a class="dropdown-item" href="" onclick="signout()">Đăng Xuất</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

<script>
  $('.profile-link').click(function () {

    var id = COMMON.setCookie('current-tab', id)
    let user = JSON.parse(COMMON.getCookie('user'))
    location.href = '/employee/' + user._id

  })
  $(document).ready(function () {
    var id = COMMON.getCookie('current-tab');
    if (id) {
      $('#' + id).addClass('active').siblings().removeClass('active');
    }
    else $('#dashboard-page').addClass('active');

    let user = JSON.parse(COMMON.getCookie('user'))
    if (user && user.role !== COMMON.userRoles.ADMIN) {
      $('.role_worker').css('display', 'block');
    }
  });
  signout = () => {
    $.ajax({
      url: '/api/v1/auth/sign_out',
      type: 'get',
      success: function (response) {
        window.location.href = '/';
      },
      error: function (error) {
        console.log(error);
        showNotification(error.statusText, "danger");
      },
    })
  }
</script>