<style>
    #sb-photoURL {
        width: 200px;
        height: 200px;
        transform: scale(0.8);
        border-radius: 50%;
        object-fit: cover;
    }

    .logo,
    .logo-normal {
        padding: 0px !important;
    }
</style>
<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="/profile" class="simple-text logo-normal">
            <div class="card-avatar">
                <img class="img" id="sb-photoURL" src="/images/logo/user-avatar.jpg" />
            </div>
            <div>
                <h4 id="side-bar-role" class="sb-user-infor"></h4>
                <h3 id="side-bar-name" class="sb-user-infor"></h3>
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item" id="employee-page">
                <a class="nav-link" href="/employee">
                    <i class="material-icons">person</i>
                    <p>Nhân Viên</p>
                </a>
            </li>
            <li class="nav-item" id="tree-page">
                <a class="nav-link" href="/tree">
                    <i class="material-icons">person</i>
                    <p>Cây</p>
                </a>
            </li>
            <li class="nav-item" id="notification-page">
                <a class="nav-link" href="/notification">
                    <i class="material-icons">person</i>
                    <p>Notification</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        var id = COMMON.getCookie('current-tab');
        if (id) {
            $('#' + id).addClass('active').siblings().removeClass('active');
        }
        else $('#dashboard-page').addClass('active');

    //     let user = JSON.parse(COMMON.getCookie('user'))
    //     $('#side-bar-role').text(user.role)
    //     $('#side-bar-name').text(user.name)
    //     $('#sb-photoURL').attr('src', user.photoURL)
    });
    function clickSideBar(id) {
        COMMON.setCookie('current-tab', id)
    };
</script>