<style>
    #sb-photoURL {
        width: 200px;
        height: 200px;
        transform: scale(0.8);
        border-radius: 50%;
        object-fit: cover;
    }

    .logo,
    .logo-normal {
        padding: 0px !important;
    }
</style>
<div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="/profile" class="simple-text logo-normal">
            <div class="card-avatar">
                <img class="img" id="sb-photoURL" src="/images/logo.png" />
            </div>
            <div>
                <h4 id="side-bar-role" class="sb-user-infor"></h4>
                <h3 id="side-bar-name" class="sb-user-infor"></h3>
            </div>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <!-- <li class="nav-item active" id="dashboard-page">
                <a class="nav-link" href="/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li> -->
            <li class="nav-item" id="user-page">
                <a class="nav-link" href="/user">
                    <i class="material-icons">person</i>
                    <p>User</p>
                </a>
            </li>
            <li class="nav-item" id="room-page">
                <a class="nav-link" href="/room">
                    <i class="fas fa-door-open"></i>
                    <p>Room</p>
                </a>
            </li>
            <li class="nav-item" id="apartment-page">
                <a class="nav-link" href="/apartment">
                    <i class="fas fa-building"></i>
                    <p>Apartment</p>
                </a>
            </li>
            <li class="nav-item" id="bill-page">
                <a class="nav-link" href="/bill">
                    <i class="fas fa-file-invoice"></i>
                    <p>Bill</p>
                </a>
            </li>
            <li class="nav-item" id="news-page">
                <a class="nav-link" href="/news">
                    <i class="far fa-newspaper"></i>
                    <p>News</p>
                </a>
            </li>
            <li class="nav-item" id="transactions-page">
                <a class="nav-link" href="/transactions">
                    <i class="fas fa-money-check-alt"></i>
                    <p>Transactions</p>
                </a>
            </li>
            <li class="nav-item" id="setting-page">
                <a class="nav-link" href="/setting">
                    <i class="fas fa-cog"></i>
                    <p>Unit Price</p>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
    $(document).ready(function () {
        var id = COMMON.getCookie('current-tab');
        if (id) {
            $('#' + id).addClass('active').siblings().removeClass('active');
        }
        else $('#dashboard-page').addClass('active');

        let user = JSON.parse(COMMON.getCookie('user'))
        $('#side-bar-role').text(user.role)
        $('#side-bar-name').text(user.name)
        $('#sb-photoURL').attr('src', user.photoURL)
    });
    function clickSideBar(id) {
        COMMON.setCookie('current-tab', id)
    };
</script>