<% layout('../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }

    .img-data-row {
        width: 70px;
        height: 70px;
    }

    #image-to-change {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }

    a,
    a:hover,
    a:focus {
        color: #ffffff
    }
</style>
<p id="code" ng-hide="true"><%= code %></p>
<div class="container-fluid" ng-controller="detailController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Hồ Sơ Nhân Viên</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating"
                                        style=" color: black; font-weight: bold;">Tên</label>
                                    <input type="text" class="form-control" ng-model="employee.name" id="fullname"
                                        value="{{employee.name}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">SĐT</label>
                                    <input type="text" class="form-control numberInput" ng-model="employee.phone"
                                        value="{{employee.phone}} " ng-disabled="true">
                                </div>
                            </div> -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Giới
                                        tính</label>
                                    <input type="text" class="form-control" value=" " ng-hide="true">
                                    <select style="width: 100%;" class="form-control select2-single"
                                        ng-model="employee.gender" ng-disabled="isNotEditing">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Ngày
                                        sinh</label>
                                    <input type="text" class="form-control" name="birthdate" id="birthdate"
                                        value="{{employee.birthday | date:'dd/MM/yyyy'}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating"
                                        style=" color: black; font-weight: bold;">Email</label>
                                    <input type="text" class="form-control" ng-model="employee.email"
                                        value="{{employee.email}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Chức
                                        vụ</label>
                                    <input type="text" class="form-control" value="{{employee.role}}" ng-disabled="true"
                                        ng-if="role !== 'admin'">
                                    <select ng-if="role === 'admin'" style="width: 100%;"
                                        class="form-control select2-single" ng-model="employee.role" id="role"
                                        ng-disabled="isNotEditing">
                                        <option value="manager">Giám Sát</option>
                                        <option value="worker">Công Nhân</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Địa
                                        chỉ</label>
                                    <input type="text" class="form-control" ng-model="employee.address"
                                        value="{{employee.address}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note" style=" color: black; font-weight: bold;">Quận</label>
                                    <input type="text" class="form-control" ng-model="employee.district.name"
                                        value="{{employee.district.name}} "
                                        ng-disabled="isNotEditing || role !== 'admin'">
                                    <!-- <textarea type="text" rows="3" class="form-control" ng-model="employee.note"
                                        ng-disabled="isNotEditing" id="note"></textarea> -->
                                </div>
                            </div>
                        </div>
                        <div ng-show="isNotEditing" ng-hide="bill.status === 'PAID'">
                            <button type="submit" ng-if="user.role !== 'worker'" class="btn btn-danger pull-left"
                                data-toggle="modal" data-target="#deleteEmployeeModal">Xóa</button>
                            <button type="submit" class="btn btn-primary pull-right"
                                ng-click="isNotEditing=false;">Chỉnh sửa</button>
                        </div>

                        <div ng-show="!isNotEditing">
                            <button type="submit" class="btn btn-success pull-right"
                                ng-click="isNotEditing=true;updateEmployee()">Lưu</button>
                            <button type="submit" class="btn btn-danger pull-left" ng-click="isNotEditing=true">Hủy
                                bỏ</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar" data-toggle="modal" data-target="#modalUploadImgUser">
                    <a href="">
                        <img class="img"
                            src="{{employee.avatar || 'https://iweb.tatthanh.com.vn/pic/3/blog/logo-cay-xanh.jpg'}}" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">{{employee.role}}</h6>
                    <h4 class="card-title">{{employee.name}}</h4>
                </div>
            </div>
            <!-- <button ng-click="getRoom()" type="submit" class="btn btn-primary pull-left" data-toggle="modal"
                data-target="#addRoomModel">Add Room</button> -->

        </div>
    </div>


    <!-- Change Avata -->
    <div class="modal fade" id="modalUploadImgUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Đổi Ảnh Đại Diện</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="image-to-change"
                            src="{{employee.avatar || 'https://iweb.tatthanh.com.vn/pic/3/blog/logo-cay-xanh.jpg'}}"
                            onclick="chooseFile()" />
                        <input id="file" type="file" file-model="employeeAvata" accept="avatar/*" style="display:none"
                            onchange="onChangeImage(event)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary float-right" ng-click="uploadAvataEmployee()"
                        id="uploadAvataEmployee">Thay Đổi</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Avata -->
    <!-- Modal -->
    <div class="modal fade model-center" id="deleteEmployeeModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteRoomModelLabel" data-color="purple">Xác nhận xóa nhân viên</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="model-content text-center">Bạn chắc chắn muốn xóa nhân viên này?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="deleteEmployee()">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade model-center" id="addRoomModel" role="dialog" aria-labelledby="addRoomModelLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addRoomModelLabel" data-color="purple">Add New Room</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="display: flex">
                        <div class="col-md-6" style="margin: 0 auto;">
                            <div class="form-group">
                                <select style="width: 100%" class="form-control" name="selected-room" id="selected-room"
                                    ng-model="selectedRoom">
                                    <option ng-disabled="room.user" ng-repeat="room in rooms" value="{{room._id}}">
                                        {{room.user ? room.roomNumber  + ' - ' + room.user.name : room.roomNumber}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="addRoomForUser()">Add</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/employee/detail.js"></script>


<script>

    clickSideBar('employee-page')
    $(document).ready(function () {
        $('#birthdate').datepicker({
            dateFormat: 'dd/mm/yy',
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:' + new Date().getFullYear()
        })
        $('#selected-apartment').select2({
            placeholder: 'Select a apartment'
        });
        $('#selected-room').select2({
            placeholder: 'Select a room'
        });
        $('.select2-single').select2()
        setTimeout(() => {
            numberFormat()
        }, 200);
    });
    function onChangeAvatar() {
        if (!$('#file').val()) {
            showNotification('Bạn chưa chọn ảnh nào', 'error')
            return
        }
        $('#loading').show()

        setTimeout(function () {
            $('#loading').hide()
            $('#modal-change-avatar').modal('hide')
            showNotification('Time out', 'error')
        }, 30000)
    }
    function chooseFile() {
        $('#file').click()
    }

    var imgtag = document.getElementById('image-to-change')
    var newAvatar

    function onChangeImage(event) {
        var selectedFile = event.target.files[0]
        var getImagePath = URL.createObjectURL(event.target.files[0])
        imgtag.src = getImagePath
        newAvatar = selectedFile
    }
</script>