<% layout('../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .card-profile {
        margin-top: 30px;
        text-align: center;
    }

    .card-profile .noti-card {
        margin: -50px auto 0;
        border-radius: 5px;
        max-width: 360px;
        height: 290px;
        overflow: hidden;
        padding: 0;
        box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }

    .card-profile .noti-card img {
        width: 100%;
        height: 100%;
    }

    .card-header .btn-choose-worker:active:focus {
        background: linear-gradient(60deg, #76fb80, #48abda);
    }

    .modal-body table {
        color: #5d5b5b;
    }

    .image-container {
        overflow: hidden;
        width: 50px;
        height: 70px;
    }

    .image-container img {
        object-fit: scale-down;
        width: 100%;
        height: 100%;
    }

    .worker-records:hover,
    .active {
        background-color: #cbf7dc;
    }

    .modal-body .active {
        background-color: #49acd9;
    }

    .worker-records {
        color: #5d5b5b
    }
</style>
<p id="notificationId" ng-hide="true"><%= notificationId %></p>
<div class="container-fluid" ng-controller="detailController">
    <div class="row flex">
        <div class="col-md-12 d-flex justify-content-around">
            <div class="col-md-5 d-none d-lg-block card card-profile">
                <div class="noti-card">
                    <a ng-href="/tree/{{notification.tree}}">
                        <img class="img" src="{{notification.image || '/images/logo/tree-avatar.jpg'}}" />
                    </a>
                </div>
            </div>
            <br />  
            <div class="col-md-5 mx-md-auto card card-profile">
                <div class="noti-card">
                    <a ng-href="/tree/{{notification.tree}}">
                        <img class="img" src="{{notification.imageDetected || '/images/logo/tree-avatar.jpg'}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 mg-0-auto">
        <div class="card">
            <div class="card-header card-header-primary d-flex justify-content-between">
                <h4 class="card-title"><%= title %></h4>
                <button class="btn btn-primary btn-choose-worker d-none" ng-class="{'d-block': user.role !== 'worker'}"
                    ng-click="showModal()">Chọn Người Thi Công</button>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Ngày cập
                                    nhật</label>
                                <input type="text" class="form-control"
                                    value="{{notification.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Nội
                                    dung</label>
                                <input type="text" class="form-control" value="{{notification.name}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-2">
                            <div class="form-group">
                                <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Trạng thái
                                    xử lý</label>
                                <input type="text" class="form-control" value="{{notification.status}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" style="margin-top: -9px;">
                                <label class="bmd-label-floating">Công Nhân</label><br />
                                <a href="/employee/{{notification.worker._id}}">{{notification.worker.name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="note" style=" color: black; font-weight: bold;">Diễn tả</label>
                                <textarea type="text" rows="3" class="form-control" ng-model="notification.name"
                                    ng-disabled="true"></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right d-none" ng-class="{'d-block': notification.status === 'Đang Xử Lý'}"data-toggle="modal" data-target="#confirm-success" ng-click="">Đã Hoàn Thành</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade model-center" id="setWorker" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content card">
                <div class="modal-header card-header card-header-primary">
                    <h3 class="modal-title" id="addRoomModelLabel">Chọn Công Nhân</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ảnh Đại Diện</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Trực Thuộc</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="worker in workers" ng-click="active($event, worker)" class="worker-records">
                                <th scope="row">{{$index + 1}}</th>
                                <td>
                                    <img src="{{worker.avatar}}" style="object-fit: scale-down;" width="50px"
                                        height="50px" />
                                </td>
                                <td>{{worker.name}}</td>
                                <td>{{worker.district}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary float-right" ng-click="setWorkerToNoti()">Chọn</button>
            </div>
        </div>
    </div>
    <div class="modal fade model-center" id="confirm-success" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content card">
                <div class="modal-header card-header card-header-primary">
                    <h3 class="modal-title" id="addRoomModelLabel">Xác Nhận</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center my-5">Ấn <b><i>Xác Nhận</i></b> Nếu Bạn Muốn Thông Báo Công Việc Đã Hoàn Thành.</h4>
                    <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary float-right" ng-click="setNotiStatusSuccess()">Xác Nhận</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/notification/detail.js"></script>
<script>
    clickSideBar('notification-page')
    $(document).ready(function () {
        $('.select2-single').select2()
    })

</script>