<% layout('../layouts/layout.ejs') -%>
<link href="/stylesheets/notification/list.css" rel="stylesheet" />
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary" style="z-index: 1 !important">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" style="line-height: 50px">Notification</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="notification-table" style="width: 100% !important">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width: 10%">Ngày cập nhật</th>
                                    <th style="width: 15%">Cây ID</th>
                                    <th style="width: 30%">Nội dung</th>
                                    <th style="width: 10%">Độ ưu tiên</th>
                                    <th style="width: 15%">Trạng thái xử lý</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="notification in notifications">
                                    <td data-order="{{notification.createdTime}}">
                                        <a href="">
                                            {{notification.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">
                                            {{notification.treeID}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">
                                            {{notification.content}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">
                                            {{notification.priority}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="">
                                            {{notification.status}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/notification/list.js"></script>

<script>
    clickSideBar('notification-page')
</script>