<% layout('../layouts/layout.ejs') -%>
<link href="/stylesheets/notification/list.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .table-row-link {
        color: #000000;
    }

    .table-row-link:hover {
        color: white
    }

    .img-data-row {
        width: 70px;
        height: 70px;
    }

    #image-to-change {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }

    .card-header .btn-change-tab,
    .card-header .btn-change-tab:hover,
    .card-header .btn-change-tab:focus,
    .card-header .btn-change-tab:active:focus {
        background-color: white;
    }

    .card-header .btn-change-tab p {
        background: linear-gradient(60deg, #0db366, #0db366);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0;
    }

    .select2-container {
        top: 12px;
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary" style="z-index: 1 !important">
                    <div class="row">
                        <div class="col-md-2" style="width: max-content">
                            <h4 class="card-title" style="line-height: 50px">Notification</h4>
                        </div>
                        <div class="col-md-10">
                            <select style="width: 15%" class="selected select1" id="selectedDistrict"
                                ng-model="selectedDistrict" ng-change="getWardByDistrict();generateFindObj()">
                                <option value="">--- Chọn Quận ---</option>
                                <option ng-repeat="district in districts" value="{{district._id}}">
                                    {{district.name}}
                                </option>
                            </select>
                            <select style="width: 15%" class="selected select2" id="selectedWard" ng-model="selectedWard"
                                ng-change="generateFindObj()">
                                <option value="">--- Chọn Phường ---</option>
                                <option ng-repeat="ward in wards" value="{{ward._id}}">
                                    {{ward.name}}
                                </option>
                            </select>
                            <button class="btn btn-primary btn-change-tab d-none pull-right res"
                                ng-class="{'d-block': done !== false}" ng-click="initNotificationTable()">
                                <p>Chưa Xử Lý</p>
                            </button>
                            <button class="btn btn-primary btn-change-tab pull-right res" ng-hide="done"
                                ng-click="initTableDoneStatus()">
                                <p>Đã Xử Lý</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table table-striped dt-responsive nowrap" id="notification-table"
                            style="width: 100% !important">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width: 5%">STT</th>
                                    <th style="width: 30%">Nội dung</th>
                                    <th style="width: 15%">Trạng thái xử lý</th>
                                    <th style="width: 10%">Ngày cập nhật</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/notification/list.js"></script>

<script>
    clickSideBar('notification-page')
    $(document).ready(function () {
        $('.selected').select2()
        $("#selectedWard").select2().next().css('margin-left', '20px');
    })
</script>