<% layout('../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }

    .img-data-row {
        width: 70px;
        height: 70px;
    }

    a, a:hover, a:focus {
        color: #ffffff
    }
</style>
<p id="id" ng-hide="true"><%= id %></p>
<div class="container-fluid" ng-controller="detailController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Thông Tin Cây</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Loại cây</label>
                                    <input type="text" class="form-control" ng-model="tree.treeType" id="type"
                                        value="{{tree.treeType}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Trạng thái</label>
                                    <input type="text" class="form-control"
                                        ng-model="tree.note" value="{{tree.status}} "
                                        ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày cập nhật</label>
                                    <input type="text" class="form-control" name="updateTime" id="updateTime"
                                        value="{{tree.modifiedTime | date:'dd/MM/yyyy'}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ngày tạo</label>
                                    <input type="text" class="form-control" name="createdTime" id="createdTime"
                                        value="{{tree.createdTime | date:'dd/MM/yyyy'}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">CameraID</label>
                                    <input type="text" class="form-control" ng-model="tree.cameraID"
                                        value="{{tree.cameraID}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Địa chỉ</label>
                                    <input type="text" class="form-control" ng-model="tree.location"
                                        value="{{tree.location}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Thành Phố</label>
                                    <select class="form-control" ng-disabled="isNotEditing" ng-change="getListDistrict()" ng-model="city"
                                        id="city">
                                        <option ng-repeat="city in cities | orderBy:'id'" ng-value="city._id">
                                            {{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Quận</label>
                                    <select class="form-control" ng-disabled="isNotEditing" ng-change="getListWard()" ng-model="district"
                                        id="district">
                                        <option ng-repeat="district in districts | orderBy:'id'" ng-value="district._id">
                                            {{district.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Phường</label>
                                    <select class="form-control" ng-disabled="isNotEditing" ng-model="ward" id="ward">
                                        <option ng-repeat="ward in wards | orderBy: 'id'" ng-value="ward._id">
                                            {{ward.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Đường</label>
                                    <input type="text" ng-model="tree.street" value="{{tree.street}}" ng-disabled="isNotEditing" class="form-control" id="street" placeholder="Nhập tên đường">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note">Vấn đề nguy hiểm</label>
                                    <textarea type="text" rows="3" class="form-control" ng-model="tree.problems"
                                        ng-disabled="isNotEditing" id="note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isNotEditing" ng-hide="bill.status === 'PAID'">
                            <button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                                data-target="#deleteEmployeeModal">Xóa</button>
                            <button type="submit" class="btn btn-primary pull-right"
                                ng-click="isNotEditing=false;">Chỉnh sửa</button>
                        </div>

                        <div ng-show="!isNotEditing">
                            <button type="submit" class="btn btn-success pull-right"
                                ng-click="isNotEditing=true;updateTree()">Lưu</button>
                            <button type="submit" class="btn btn-danger pull-left" ng-click="isNotEditing=true">Hủy
                                bỏ</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar" onclick="showModalChangeAvatar()">
                    <a href="">
                        <img class="img"
                            src="{{tree.image || 'https://iweb.tatthanh.com.vn/pic/3/blog/logo-cay-xanh.jpg'}}" />
                    </a>
                </div>
                <!-- <div class="card-body">
                    <h6 class="card-category text-gray">Cây</h6>
                    <h4 class="card-title">{{employee.fullname}}</h4>
                </div> -->
            </div>
            <!-- <button ng-click="getRoom()" type="submit" class="btn btn-primary pull-left" data-toggle="modal"
                data-target="#addRoomModel">Add Room</button> -->
            <div class="text-center col-md-12">
                <button class="btn btn-primary"><a href="{{tree.googleMapsUrl}}" target="_blank">View On Maps</a></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" style="line-height: 50px">Lịch Sử Thông Báo</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="notification-table">
                            <thead class=" text-primary">
                                <th style="width: 5%">STT</th>
                                <th style="width: 10%">Hình Ảnh</th>
                                <th style="width: 15%">Nội Dung</th>
                                <th style="width: 10%">Trạng Thái</th>
                                <th style="width: 10%">Thời Gian</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="notification in notifications">
                                    <td>
                                        <a href="/notification/{{notification.code}}">
                                            {{notification.code}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/notification/{{notification.code}}">
                                            <img class="img-data-row" src="{{notification.img}}" />
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/notification/{{notification.code}}">
                                            {{notification.content}}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/notification/{{notification.code}}">
                                            {{notification.status}}
                                        </a>
                                    </td>
                                    <td data-order="{{notification.createdTime}}">
                                        <a href="/notification/{{notification.code}}">
                                            {{notification.createdTime == 0 ? 'N/A' : notification.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade model-center" id="deleteEmployeeModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteRoomModelLabel" data-color="purple">Xác nhận xóa cây</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="model-content text-center">Bạn chắc chắn muốn xóa cây này?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="deleteTree()">Xóa</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade model-center" id="addRoomModel" role="dialog" aria-labelledby="addRoomModelLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="addRoomModelLabel" data-color="purple">Add New Room</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="display: flex">
                        <div class="col-md-6" style="margin: 0 auto;">
                            <div class="form-group">
                                <select style="width: 100%" class="form-control" name="selected-room" id="selected-room"
                                    ng-model="selectedRoom">
                                    <option ng-disabled="room.user" ng-repeat="room in rooms" value="{{room._id}}">
                                        {{room.user ? room.roomNumber  + ' - ' + room.user.name : room.roomNumber}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="addRoomForUser()">Add</button>
                </div>
            </div>
        </div>
    </div> -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/tree/detail.js"></script>
<script>
    clickSideBar('tree-page')
    $(document).ready(function () {
        $('#birthdate').datepicker({
            dateFormat: 'dd/mm/yy',
            autoclose: true,
            changeMonth: true,
            changeYear: true,
            yearRange: '-100:' + new Date().getFullYear()
        })
        $('#selected-apartment').select2({
            placeholder: 'Select a apartment'
        });
        $('#selected-room').select2({
            placeholder: 'Select a room'
        });
        $('.select2-single').select2()
        setTimeout(() => {
            numberFormat()
        }, 200);
    });
</script>