<% layout('../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .modal-footer {
        display: initial
    }

    #image-to-change {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }

    .card-camera .card-profile {
        margin-top: 80px;
    }

    .card-profile .card-avatar {
        border-radius: 0;
    }

    .label-control.bmd-label-static {
        left: 15px
    }

    .img-data-row {
        width: 70px;
        height: 70px;
    }

    a,
    a:hover,
    a:focus {
        color: #ffffff
    }

    table a {
        color: #6f6f6f;
    }

    .datepicker {
        border-radius: 0;
        padding: 0;
    }

    .datepicker-days table thead,
    .datepicker-days table tbody,
    .datepicker-days table tfoot {
        padding: 10px;
        display: list-item;
    }

    .datepicker-days table thead,
    .datepicker-months table thead,
    .datepicker-years table thead,
    .datepicker-decades table thead,
    .datepicker-centuries table thead {
        background: #3546b3;
        color: #ffffff;
        border-radius: 0;
    }

    .datepicker-days table thead tr:nth-child(2n+0) td,
    .datepicker-days table thead tr:nth-child(2n+0) th {
        border-radius: 3px;
    }

    .datepicker-days table thead tr:nth-child(3n+0) {
        text-transform: uppercase;
        font-weight: 300 !important;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.7);
    }

    .table-condensed>tbody>tr>td,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>td,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>thead>tr>th {
        padding: 11px 13px;
    }

    .datepicker-months table thead td,
    .datepicker-months table thead th,
    .datepicker-years table thead td,
    .datepicker-years table thead th,
    .datepicker-decades table thead td,
    .datepicker-decades table thead th,
    .datepicker-centuries table thead td,
    .datepicker-centuries table thead th {
        border-radius: 0;
    }

    .datepicker td,
    .datepicker th {
        border-radius: 50%;
        padding: 0 12px;
    }

    .datepicker-days table thead,
    .datepicker-months table thead,
    .datepicker-years table thead,
    .datepicker-decades table thead,
    .datepicker-centuries table thead {
        background: #3546b3;
        color: #ffffff;
        border-radius: 0;
    }

    .datepicker table tr td.active,
    .datepicker table tr td.active:hover,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled:hover {
        background-image: none;
    }

    .datepicker .prev,
    .datepicker .next {
        color: rgba(255, 255, 255, 0.5);
        transition: 0.3s;
        width: 37px;
        height: 37px;
    }

    .datepicker .prev:hover,
    .datepicker .next:hover {
        background: transparent;
        color: rgba(255, 255, 255, 0.99);
        font-size: 21px;
    }

    .datepicker .datepicker-switch {
        font-size: 24px;
        font-weight: 400;
        transition: 0.3s;
    }

    .datepicker .datepicker-switch:hover {
        color: rgba(255, 255, 255, 0.7);
        background: transparent;
    }

    .datepicker table tr td span {
        border-radius: 2px;
        margin: 3%;
        width: 27%;
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover {
        background-color: #3546b3;
        background-image: none;
    }

    .dropdown-menu {
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .datepicker-dropdown.datepicker-orient-top:before {
        border-top: 7px solid rgba(0, 0, 0, .1);
    }

    .timepicker-hours .table-condensed,
    .timepicker-minutes .table-condensed {
        width: 100%;
        text-align: center;
    }
    .table-condensed td a:hover{
        background-color: unset;
    }
    .hour, .minute {
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }

    .timepicker-hours .table-condensed td:hover,
    .timepicker-minutes .table-condensed td:hover {
        background-color: #eee;
        cursor: pointer;
    }
</style>

<div class="container-fluid" ng-controller="detailController">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Thông Tin Cây</h4>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="font-weight: bold;">Loại cây</label>
                                    <input type="text" class="form-control" ng-model="tree.treeType" id="type"
                                        value="{{tree.treeType}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="font-weight: bold;">Trạng thái</label>
                                    <input type="text" class="form-control" ng-model="tree.note"
                                        value="{{tree.status}} " ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="font-weight: bold;">Ngày cập nhật</label>
                                    <input type="text" class="form-control" name="updateTime" id="updateTime"
                                        value="{{tree.modifiedTime | date:'dd/MM/yyyy HH:mm:ss'}}" ng-disabled="true">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style="font-weight: bold;">Ngày tạo</label>
                                    <input type="text" class="form-control" name="createdTime" id="createdTime"
                                        value="{{tree.createdTime | date:'dd/MM/yyyy HH:mm:ss'}}" ng-disabled="true">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="latitude" style="font-weight: bold;">Vĩ Độ</label>
                                    <input type="text" class="form-control" ng-model="tree.latitude"
                                        ng-disabled="isNotEditing" id="latitude" placeholder="Nhập vĩ độ">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="longtitude" style=" color: black; font-weight: bold;">Kinh Độ</label>
                                    <input type="text" class="form-control" ng-model="tree.longitude"
                                        ng-disabled="isNotEditing" id="longitude" placeholder="Nhập kinh độ">
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">CameraID</label>
                                    <input type="text" class="form-control" ng-model="tree.cameraID"
                                        value="{{tree.cameraID}} " ng-disabled="isNotEditing">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Địa chỉ</label>
                                    <input type="text" class="form-control" ng-model="tree.location"
                                        value="{{tree.location}}" ng-disabled="isNotEditing">
                                </div>
                            </div>
                        </div> -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" color: black; font-weight: bold;">Thành
                                        Phố</label>
                                    <select class="form-control" ng-disabled="isNotEditing"
                                        ng-change="getListDistrict()" ng-model="city" id="city">
                                        <option ng-repeat="city in cities | orderBy:'createdTime'" ng-value="city._id">
                                            {{city.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating"
                                        style=" color: black; font-weight: bold;">Quận</label>
                                    <select class="form-control" ng-disabled="isNotEditing" ng-change="getListWard()"
                                        ng-model="district" id="district">
                                        <option ng-repeat="district in districts | orderBy:'createdTime'"
                                            ng-value="district._id">
                                            {{district.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating"
                                        style="color: black; font-weight: bold;">Phường</label>
                                    <select class="form-control" ng-disabled="isNotEditing" ng-model="ward" id="ward">
                                        <option ng-repeat="ward in wards | orderBy: 'createdTime'" ng-value="ward._id">
                                            {{ward.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="bmd-label-floating" style=" font-weight: bold;">Đường</label>
                                    <input type="text" ng-model="tree.street" value="{{tree.street}}"
                                        ng-disabled="isNotEditing" class="form-control" id="street"
                                        placeholder="Nhập tên đường">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="note" style="font-weight: bold;">Vấn đề nguy hiểm</label>
                                    <textarea type="text" rows="3" class="form-control" ng-model="tree.description"
                                        ng-disabled="isNotEditing" id="note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-show="isNotEditing" ng-hide="bill.status === 'PAID'" class="d-none" ng-class="{'d-block': user.role !== 'worker'}">
                            <button type="submit" class="btn btn-danger pull-left" data-toggle="modal"
                                data-target="#deleteEmployeeModal">Xóa</button>
                            <button type="submit" class="btn btn-primary pull-right"
                                ng-click="isNotEditing=false;">Chỉnh sửa</button>
                        </div>

                        <div ng-show="!isNotEditing">
                            <button type="submit" class="btn btn-success pull-right"
                                ng-click="isNotEditing=true;updateTree()">Lưu</button>
                            <button type="submit" class="btn btn-danger pull-left" ng-click="isNotEditing=true">Hủy
                                bỏ</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="label-control">Ngày Bắt Đầu</label>
                        <input type="text" onchange="dateChange()" id="startDate" class="form-control startDate" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="label-control">Ngày Kết Thúc</label>
                        <input type="text" onchange="dateChange()" id="endDate" class="form-control endDate" />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-primary">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title" style="line-height: 50px">Lịch Sử Thông Báo</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="notification-table" style="width: 100%;">
                                <thead class=" text-primary">
                                    <th style="width: 5%">STT</th>
                                    <th style="width: 10%">Hình Ảnh</th>
                                    <th style="width: 15%">Nội Dung</th>
                                    <th style="width: 10%">Trạng Thái</th>
                                    <th style="width: 10%">Thời Gian Cập Nhật</th>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p id="id" class="d-none"><%= id %></p>
        <div class="col-md-4 mt-5">
            <div class="card-tree">
                <div class="card card-profile">
                    <div class="card-avatar" data-toggle="modal" data-target="#modalUploadImgTree">
                        <a href="">
                            <img class="img"
                                src="{{tree.image || 'https://iweb.tatthanh.com.vn/pic/3/blog/logo-cay-xanh.jpg'}}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Tree Code</h6>
                        <h4 class="card-title">{{tree.code}}</h4>
                    </div>
                </div>
                <div class="text-center col-md-12">
                    <button class="btn btn-primary"><a href="{{tree.googleMapsUrl}}" target="_blank">Xem trên bản
                            đồ</a></button>
                </div>
            </div>
            <div class="card-camera" ng-show="tree.camera">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="">
                            <img class="img"
                                src="{{tree.camera.image || 'https://iweb.tatthanh.com.vn/pic/3/blog/logo-cay-xanh.jpg'}}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">Camera Code</h6>
                        <h4 class="card-title">{{tree.camera.code}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade model-center" id="deleteEmployeeModal" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="deleteRoomModelLabel" data-color="purple">Xác nhận xóa cây</h3>
                    <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 class="model-content text-center">Bạn chắc chắn muốn xóa cây này?</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary pull-right" ng-click="deleteTree()">Xóa</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalUploadImgTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Đổi Ảnh Cây</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <img id="image-to-change" src="{{tree.image}}" onclick="chooseFile()" />
                        <input id="file" type="file" file-model="treeImage" accept="image/*" style="display:none"
                            onchange="onChangeImage(event)" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary float-right" ng-click="uploadImageTree()"
                        id="uploadTreeImage">Thay Đổi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script src="/javascripts/tree/detail.js"></script>
<script type="text/javascript">
    let startDate = new Date();
    startDate.setDate(startDate.getDate() - 7);
    startDate.setHours(0)
    startDate.setMinutes(0)
    $('.startDate').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        },
        date: startDate,
        maxDate: (new Date().setDate((new Date().getDate()) - 1))
    }).on("dp.change", function () {
        dateChange()
    });
    $('.endDate').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        },
        date: new Date(),
        minDate: $('#startDate').val()
    }).on("dp.change", function () {
        dateChange()
    });
</script>
<script>
    clickSideBar('tree-page')
    function onChangeAvatar() {
        if (!$('#file').val()) {
            showNotification('Bạn chưa chọn ảnh nào', 'error')
            return
        }
        $('#loading').show()

        setTimeout(function () {
            $('#loading').hide()
            $('#modal-change-avatar').modal('hide')
            showNotification('Time out', 'error')
        }, 30000)
    }

    function chooseFile() {
        $('#file').click()
    }

    var imgtag = document.getElementById('image-to-change')
    var newAvatar

    function onChangeImage(event) {
        var selectedFile = event.target.files[0]
        var getImagePath = URL.createObjectURL(event.target.files[0])
        imgtag.src = getImagePath
        newAvatar = selectedFile
    }

    // $('#uploadTreeImage').click(function () => {
    //     $ajac
    // })


</script>