<% layout('../layouts/layout.ejs') -%>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<style>
    .table-row-link {
        color: #000000;
    }

    .table-row-link:hover {
        color: white
    }

    .img-data-row {
        width: 70px;
        height: 70px;
    }

    #image-to-change {
        width: 100%;
        height: 300px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }

    #image-to-change:hover {
        cursor: pointer;
    }
</style>
<div class="container-fluid" ng-controller="listController">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreateTree">
                Thêm Cây
            </button>
            <div class="card">
                <div class="card-header card-header-primary" style="z-index: 1 !important">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="card-title" style="line-height: 50px">Cây</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="tree-table" style="width: 100% !important">
                            <thead class="text-primary">
                                <tr>
                                    <th style="width: 5%">STT</th>
                                    <th style="width: 15%"> Vị Trí</th>
                                    <th style="width: 20%"> Code</th>
                                    <th style="width: 20%"> Trạng Thái</th>
                                    <th style="width: 10%"> Ngày Tạo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalCreateTree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLongTitle">Tạo Cây</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <form id="create-tree">
                            <div>
                                <img id="image-to-change" src="/images/logo/picture_icon.png" onclick="chooseFile()" />
                                <input id="file" type="file" accept="image/*" style="display:none"
                                    onchange="onChangeImage(event)" />
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="">Loại Cây</label>
                                        <input type="text" class="form-control" id="treeType"
                                            placeholder="Nhập loại cây">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="">Vĩ Độ</label>
                                        <input type="text" class="form-control" id="latitude" placeholder="Nhập vĩ độ">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="">Kinh Độ</label>
                                        <input type="text" class="form-control" id="longitude"
                                            placeholder="Nhập kinh độ">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group" style="top: 14px;">
                                        <label for="city">Thành Phố</label>
                                        <input style="position: relative; top: 5px;" class="form-control" type="text" id="city" value="{{cities[0].name}}"
                                            disabled>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Quận</label>
                                        <select style="width: 100%;" class="form-control selected" ng-change="getListWard()" ng-model="district"
                                            id="district">
                                            <option ng-repeat="district in districts" value="{{district._id}}">
                                                {{district.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="ward">Phường</label>
                                        <select style="width: 100%;" class="form-control selected" ng-model="ward" id="ward">
                                            <option ng-repeat="ward in wards" value="{{ward._id}}">
                                                {{ward.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="">Đường</label>
                                        <input type="text" class="form-control" id="street"
                                            placeholder="Nhập tên đường">
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="code"></label>
                                    <input type="text" class="form-control" id="code" placeholder="Nhập code">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    <button type="button" class="btn btn-primary" id="createTreeBtn">Tạo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/tree/list.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    clickSideBar('tree-page')
</script>
<script>
    $(document).ready(function () {
        $('.selected').select2()
    })
    function onChangeAvatar() {
        if (!$('#file').val()) {
            showNotification('Bạn chưa chọn ảnh nào', 'error')
            return
        }
        $('#loading').show()

        setTimeout(function () {
            $('#loading').hide()
            $('#modal-change-avatar').modal('hide')
            showNotification('Time out', 'error')
        }, 30000)
    }

    function chooseFile() {
        $('#file').click()
    }

    var imgtag = document.getElementById('image-to-change')
    var newAvatar

    function onChangeImage(event) {
        var selectedFile = event.target.files[0]
        var getImagePath = URL.createObjectURL(event.target.files[0])
        imgtag.src = getImagePath
        newAvatar = selectedFile
    }
</script>